html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    background-position: center;
     background-attachment: fixed;
     background-size: cover;
     

     }

h1{
    text-align: center;
    font-size: 60px;
    width: 600;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
}



/* upside down jap letters */
    h2 {
    position: fixed;
    display: inline;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 60px;
    color: red;
    
}


h3{
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 0 20px;
}



 header {
     background-color:black;
     text-align: center;
     }



 /* straight line for letters from menu */

 nav ul li {
     list-style-type: none;
     display: inline; 
     margin: 39px;
     font-family: 'Sedgwick Ave Display', cursive;

     }

 

 nav ul li a {

     color:rgb(189, 7, 189);
     text-decoration: none;
     font-size: 30px;
     }



   /* big letters from menu */

 nav ul li a:hover {
     font-weight: bold;
 }

 



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    object-fit: cover;
}










/* social medias styles and icons */
.medias body {

    margin: 0;
    padding: 0;
    
    
}

.medias ul {
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

.medias ul li {
    list-style: none;
    
    
}





.medias {
    font-size: 60px;
    text-align: center;
    margin: 0 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 50%;

    
}

.icons{
    display: inline-block;  /* icons next to each other */
    list-style-type: none;  /* erase the dots */
    padding: 60px;
    

}

.icons1 a {

     color: #4267b2
     }


     .icons2 a {
        color: #405DE6
        rgb(138,58,185);
        color: #8a3ab9
        rgb(204, 78, 69);
        color: #b84393;
        


    }

    .icons3 a {
        color: #ED3833

    }

    


/* search bar colors, size background color */
div{
    text-align: center;
    padding: 10px;
    background-color: black;
    border-bottom: solid 1px
    

}



div input,
div button { 
    padding: 10px;

}

div input {
    width: 30%;
}

button{
    width: 10%;
    background-color:rgb(189, 7, 189);

    border: none;
    color: white;
    font-size: 16px;
    
}

div button:hover{
    cursor: pointer;
    background-color: lightslategray;
}


/* lower colum for copyright */
footer{
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 60x;
    background-color:rgb(161, 7, 161);
    opacity: 0.9;
    box-sizing: border-box;

    
}



/*     <img src="img/240sx.jpg" alt="blackcar" height="800px" width="100%"> */

/* <h2>横にいる</h2> */
















  








 
 
    

 
